.shop-banner {
    width: 100%;
    height: auto;
    margin: 50px 0;
    padding: 45px 0 40px;

    background: url(../img/blog/details/details-hero.jpg) no-repeat;
    object-fit: cover;
    background-size: cover;
}



.shop-banner-container {
    max-width: 1170px;
    height: auto;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}


.shop-banner-container h1 {
    font-size: 46px;
    font-weight: 700;
    color: #ffff;
}

.shop-banner-container span {
    margin-top: 10px;
    color: #ffff;
}

.shop-banner-container span a {
    color: #ffff;
    font-weight: 700;
}
