
/* shop-discount */


.shop-discount {
    width: 100%;
    height: auto;

    margin: 70px 0 40px;

   

}

.shop-discount-container {
    max-width: 1170px;
    height: auto;

    display: flex;
    margin: 0 auto;


    flex-direction: column;
    padding-bottom: 40px;
    border-bottom: 1px solid #ebebeb;

}



.shop-discount-container h1 {
    width: 150px;
    font-size: 36px;
    font-weight: 700;

    padding-bottom: 15px;
    border-bottom: 4px solid #7fad39 ;
    text-align: left;
}


.slide-discount {
    width: 100%;
    height: 430px;
    margin-top: 30px;

}


.product-discount-grid {
    display: grid;
    grid-template-columns: repeat(4 , auto );
}


/* product-discount-item */


.product-discount-item {
    position: relative;
    cursor: pointer;
}


.product-discount-price-menu  {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 280px;
   
    opacity: 0;
    transition: top 1s ,
                opacity 1s;

 
}

.product-discount-img span {
    width: 50px;
    height: 50px;
    background-color: red;
    color: #fff;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.product-discount-item:hover .product-discount-price-menu  {
    top: 210px;
    opacity: 1;
    transition: top 1s 
            ,opacity 1s;
}


.cart-discount , .see-detail {
    margin: 0 10px;
    cursor: pointer;

    width: 50px;
    height: 50px;


    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 50%;

}

.cart-discount:hover , .see-detail:hover {
    background-color: red;
    color: #fff;
    transition: background-color 1s ,
                color 1.5s;
}


.product-discount-info {
    margin-top: 10px;
    text-align: center;
}

.product-discount-info p{
    font-size: 15px;
    color: #b2b2b2;
}

.product-discount-info a h4{
    margin: 10px 0;
    font-size: 16px;
    color: #1c1c1c;

}


.product-discount-info span:first-child {
    font-weight: 700;
    margin-right: 10px;
}


.product-discount-info span:nth-child(2) {
    color: #b2b2b2;
    text-decoration-line: line-through ;
}



@media only screen and (max-width : 992px){
    .shop-discount-container {
        padding: 0 2rem;
    }

}



@media only screen and (max-width : 600px){
  
}