.main-shop {
    width: 100%;
    height: 100%;
    margin: auto;
}

.main-shop-container {
    max-width: 1170px;
    height: auto;
    margin: 0 auto;

    display: flex;
    align-self: center;
    flex-direction: column;
    
}

.main-shop-header {
    /* background-color: red; */
    margin: 50px 0;
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;

    justify-content: space-between;
}

.product-found {
    display: flex;
    align-items: center;
}

.product-found p {
    margin-right: 20px;
}

.product-found span {
    font-weight: 700;

}


.product-search {
    width: 50%;
    height: auto;

    

    display: flex;
    align-items: center;

}



.product-search input[type="search"] {
   width: 100%;
  
    padding: 18px;
    outline: none;

    font-size: 16px;
    border: 1px solid #aa2525;
}

.product-search input[type="search"]:placeholder-shown {
    text-transform: uppercase;
    font-size: 14px;
}


/* product item */



@keyframes grid-item-open {
    from {
        max-width: 0;
        max-height: 0;
        opacity: 0;

    }
    to {
        max-width: 300px;
        max-height: 300px;
        text-align: center;
        opacity: 1;
      
    }
  }


.main-shop-products {
    display: grid;
    grid-template-columns: repeat(4 , auto);
    row-gap: 60px;
}

.product-show-item {
    position: relative;
    text-align: center;
    cursor: pointer;
    animation: grid-item-open 1s;
}


.product-show-item p {
    margin: 20px 0;
}

.product-show-item span {
    font-size: 18px;
    font-weight: 700;
}


.product-show-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 280px;
    right: 0;
    left: 0;
    opacity: 0;

    transition: top 1s ,
                opacity 1.2s;

}

.product-show-item:hover .product-show-menu {
    top: 210px;
    opacity: 1;
    transition: top 1s ,
    opacity 1.2s;
}

.detail-menu , .cart-menu {
    margin: 0 10px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 50%;

  
    transition: background-color 1s ,
                color 1.5s;
}


.detail-menu:hover , .cart-menu:hover {

    background-color: red;
    color: #fff;

    transition: background-color 1s ,
                color 1.5s;

}




@media only screen and (max-width : 992px){

    .main-shop-products {
        grid-template-columns: repeat(3 , auto);
    }


    .main-shop-container {
        padding: 0 2rem;
    }



}



@media only screen and (max-width : 880px){
    .main-shop-products {
        grid-template-columns: repeat(2 , auto);
    }

    .product-search {
        width: 50%;
  
    }

 
}


@media only screen and (max-width : 600px){
    .main-shop-header {
        flex-direction: column;
    }

    .main-shop-products {
        grid-template-columns: auto;
    }

    .product-search {
        width: 100%;
        margin-top: 20px;
 
    }

    .product-search input {
        width: 100%;
    }
  


}